.container {
    border: 2px solid black;
    border-radius: 25px;
    margin: 50px 50px 50px 50px;
    background-color: #59ADE9;
}

#query {
    color: #ffffff;
    padding: 20px 20px;
}

#cabeceras {
    color: #ffffff;
}