<div class="container">


    <div class="hover_color align_" id="query">
        <h1>Pregunta 5</h1>
        <br>
        <p>Desarrolle el siguiente ejercicio usando Angular: Desarrolle un programa en angular que permita calcular el sueldo de un trabajador:<br> Sueldo=horas Trabajadas* precio<br> Dado que,si las horas trabajadas es mayor a 40, se le da un bono de 300
            soles; de ser menores solo recibe el sueldo, en funciónal numero de horas y precio por hora.</p>


        <table class="table table-striped">
            <thead class="thead-dark" id="cabeceras">
                <tr>
                    <th scope="col">Horas Trabajas: </th>
                    <th scope="col">Precio por Hora: </th>
                    <th scope="col"></th>
                    <th scope="col">Bono</th>
                    <th scope="col">Sueldo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" type="number" [(ngModel)]="horas" /></td>
                    <td><input class="form-control" type="number" [(ngModel)]="precio" /></td>
                    <td><button type="button" (click)="calcular()" class="btn btn-light">Calcular</button></td>
                    <td><input class="form-control" type="number" [(ngModel)]="bono" disabled/></td>
                    <td><input class="form-control" type="number" [(ngModel)]="sueldo" disabled/></td>
                </tr>
            </tbody>
        </table>

    </div>



</div>