h4 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h1 {
    color: blue;
}

#Green {
    color: green;
}

#Pink {
    color: pink;
}

#Red {
    color: red;
}

#Blue {
    color: blue;
}

#Yellow {
    color: #ffe600;
}